body {
  background-color: #db7a7a;
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 12px;
}

.card-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

button {
  font-weight: bold;
}
